.container {

  &-slideshow {
    display: grid;

    max-width: var(--slide-container, 1200px);
    margin: 0 auto;
    padding: 0 2rem;
    grid-template-columns: 1fr var(--card-width);

    @media screen and (max-width: 1024px) {
      grid-template-columns: 1fr;
      padding: 0;
    }
  }

  &-main {
    display: grid;
    gap: var(--grid-gap, 1rem);
    max-width: var(--main-container, 70rem);
    margin: 0 auto;
    padding: 0 2rem;

    grid-template-columns: var(--sidebar-width) 1fr var(--sidebar-width);

    &.hide-left {
      grid-template-columns: 1fr var(--sidebar-width, 250px);
    }

    &.hide-right {
      grid-template-columns: var(--sidebar-width, 250px) 1fr;
    }

    &.hide-both {
      grid-template-columns: 1fr;
    }

    @media screen and (max-width: 1024px) {
      max-width: unset;

      &.hide-left,
      &.hide-right,
      &.hide-both {
        grid-template-columns: 1fr;
      }
    }

    @media screen and (max-width: 0px) {
      max-width: unset;
    }
  }
}