.footer {
  margin: 1rem 2.5rem;
  padding: 2rem 0;
  text-align: center;
  background-color: var(--bg-footer);
  border-radius: 15px 15px 0 0;
  background: linear-gradient(125deg, rgba(0, 100, 220, 1) 0%, rgba(50, 0, 100, 1) 50%);

  @media screen and (max-width: 768px) {
    margin: 1rem 0;
  }

  .widget-title {
    color: white;
  }

  .LinkList {
    margin-top: 1rem;
    margin-bottom: 4rem;
  }
}