#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  background: var(--bg-header);

  .section {
    padding: 0.5rem 3rem;
  }

  // Widget Header
  /*
  .Header {
    flex: 1;
  }*/

  .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-title {
    margin: 0;
    font-size: 1.75rem;
    line-height: 1;
    font-family: var(--font-blog-title);
    margin-top: .75rem;

    a {
      color: var(--color-header-title);
      text-decoration: none;
    }
  }

  .header-subtitle {
    font-size: 1rem;
    line-height: 1.2;
    color: var(--color-header-subtitle);
    font-family: var(--font-blog-title);
  }

  // Menú
  .header-bars {
    left: 2rem;

    &::before {
      pointer-events: var(--switch-bars, none);
      opacity: var(--switch-bars, 0);
    }
  }

  // Buscador
  .header-search {
    right: 2rem;

    &::before {
      pointer-events: var(--switch-search, none);
      opacity: var(--switch-search, 0);
    }
  }

  .place-right {
    margin-left: auto;
  }

  .header-links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  // No auto ads
  .google-auto-placed {
    display: none !important;
  }
}

.halftone {
  --stop1: .06rem;
  --stop2: .65rem;
  --dotColor: blue;
  --bgColor: white;
  --bgSize: 1.4rem;
  --bgPosition: calc(var(--bgSize) / 2);
  background: var(--bgColor);
  filter: contrast(50);
  mix-blend-mode: multiply;
  isolation: isolate;

  &:after {
    content: '';
    position: absolute;
    inset: 0;
    background-image:
      radial-gradient(circle at center, var(--dotColor) var(--stop1), transparent var(--stop2)),
      radial-gradient(circle at center, var(--dotColor) var(--stop1), transparent var(--stop2));
    background-size: var(--bgSize) var(--bgSize);
    background-repeat: round;
    background-position: 0 0, var(--bgPosition) var(--bgPosition);
    mask-image: linear-gradient(to right, black, transparent);
  }
}