#header {
  @media screen and (max-width: 970px) {
    display: flex;
    flex-direction: column;

    .LinkList {
      display: none;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;

  background: var(--bg-header);

  transition: transform 0.25s ease;



  &.header-hidden {
    transform: translateY(-100%);
  }

  .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;

    @media screen and (max-width: 970px) {
      padding: 0;
    }
  }

  .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (max-width: 970px) {
      align-items: center;
    }
  }

  .header-title {
    margin: 0;
    margin-top: 0.75rem;
    font-size: 1.75rem;
    line-height: 1;
    font-family: var(--font-blog-title);

    a {
      color: var(--color-header-title);
      text-decoration: none;
    }
  }

  .header-subtitle {
    font-size: 1rem;
    line-height: 1.2;
    color: var(--color-header-subtitle);
    font-family: var(--font-blog-title);
  }

  .header-links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .place-right {
    margin-left: auto;
  }

  .header-bars {
    left: 2rem;

    &::before {
      pointer-events: var(--switch-bars, none);
      opacity: var(--switch-bars, 0);
    }
  }

  .header-search {
    right: 2rem;

    &::before {
      pointer-events: var(--switch-search, none);
      opacity: var(--switch-search, 0);
    }
  }

  .google-auto-placed {
    display: none !important;
  }
}