.header {
  padding: 1rem 0;
  background: var(--bg-header);

  .section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
  }

  // Widget Header
  .Header {
    flex: 1;
  }

  .header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .header-title {
    margin: 0;
    font-size: 1.75rem;
    line-height: 1;
    font-family: var(--font-blog-title);

    a {
      color: var(--color-header-title);
      text-decoration: none;
    }
  }

  .header-subtitle {
    margin-top: .75rem;
    font-size: 1rem;
    line-height: 1.2;
    color: var(--color-header-subtitle);
    font-family: var(--font-blog-title);
  }

  // Menú
  .header-bars {
    left: 2rem;

    &::before {
      pointer-events: var(--switch-bars, none);
      opacity: var(--switch-bars, 0);
    }
  }

  // Buscador
  .header-search {
    right: 2rem;

    &::before {
      pointer-events: var(--switch-search, none);
      opacity: var(--switch-search, 0);
    }
  }

  // No auto ads
  .google-auto-placed {
    display: none !important;
  }
}