.blog-pager {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.pager-button {
  color: white;
  align-items: center;
  gap: .5rem;
  padding: .75rem;
  display: flex;
  background: var(--color-text);
  border-radius: 14px;

  &:hover {
    color: var(--primary);
  }
}
