.search {
  &-input {
    color: white;
    background-color: #ffffff7d;
    border: none;
    border-radius: 15px;
    transition: background-color var(--transition-config), border-color var(--transition-config), color var(--transition-config);

    &::placeholder {
      color: white;
    }

    &:focus {
      outline: none;

      background-color: #86bef3;
      border-color: #210097;
    }
  }
}