:root {
  --transition-config: 0.5s cubic-bezier(0.54, 0, 0.1, 1);
  --sidebar-gap: .5rem;
  --form-padding: .75rem 1rem;
  --form-gap: .75rem;

  --comment-gap: 2rem;

  --sidebar-width: 15vw;
  --slide-container: 120vw;
  --main-container: 75vw;
  --card-width: 20vw;

  --bg-header: linear-gradient(90deg,
      rgba(0, 255, 255, 1) 0%,
      rgba(0, 100, 220, 1) 50%,
      rgba(130, 0, 220, 1) 100%);
  --bg-sidebar: #ffffff;
  --bg-footer: #7314ff;

  --typo-border-color: var(--color-border);

  --font-blog-title: "Bangers", sans-serif;
  --font-title-family: "Bangers", system-ui;
  --font-open-sans: "Bangers", sans-serif;
  --font-system: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}